<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.3.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
      http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
     http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
      http://mybatis.org/schema/mybatis-spring  
        http://mybatis.org/schema/mybatis-spring.xsd
     ">

<context:component-scan base-package="com.hxk.*"></context:component-scan>
<mvc:annotation-driven></mvc:annotation-driven>

	<!-- 视图解析器：ViewResolver -->
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		前缀 <property name="prefix" value="/WEB-INF/"></property> 后缀 <property name="suffix" 
		value=".jsp"></property> </bean> -->
	<!--配置拦截器 -->
   	<mvc:interceptors>
		<!-- 登录拦截器 -->
		<mvc:interceptor>
			<!-- 要拦截的路径，/**代表拦截所有 -->
			<mvc:mapping path="/**" />
			<!-- 拦截器的全限定路径 -->
			<bean class="com.hxk.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>  
<mvc:cors>
          <mvc:mapping path="/**"  
                       allowed-origins="*"  
                       allowed-methods="POST, GET, OPTIONS, DELETE, PUT"  
                       allowed-headers="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"  
                       allow-credentials="true" />  
</mvc:cors>
<!-- <mvc:default-servlet-handler/> -->
</beans>














